@model IEnumerable<ClinincManagementSystemProject.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Doctor Details</h1>

<p>
    <a asp-action="AddDoctor">Add Doctor Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTo)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="UpdateDoctorDetails" asp-route-id="@item.DoctorId">Edit</a> |
                <a class="btn btn-dark" asp-action="DetailsOfDoctor" asp-route-id="@item.DoctorId">Details</a> |
                <a class="btn btn-danger" asp-action="DeleteDoctor" asp-route-id="@item.DoctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
